{% extends 'layout.html' %}


{% block body %}
<h3>
Hakkımızda
<hr>
</h3>
<p>Avukat bir baba ile öğretmen bir annenin üç çocuğundan bir tanesi olarak dünyaya gelen Gates, zengin bir ailede büyüdü. Sahip olduğu bu zenginliği ve kaynakları doğru şekilde kullanarak ve çok çalışarak “Amerika Rüyası”nı gerçeğe dönüştürdü. Bill Gates, ailenin tek erkek çocuğudur. Libby adında bir kız kardeşi ve Kristianne adında bir ablası vardır. 

    Eğitim hayatında ilk olarak Kuzey Seattle’daki devlet okuluna başladı. Ardından Özel Lakeside Okulu’nda eğitimine devam etti. Eş zamanlı olarak kişisel program yazmaya başladığı dönemlerde henüz 13 yaşlarındaydı. 1973 senesinde Harvard Üniversitesi’ne başlayan Gates, 1975’te yani üçüncü sınıftayken okulu bıraktı. Üniversitedeyken 1960 yılında yazılan BASIC’in MITS Altair ismi verilen bir versiyonunu oluşturdu.</p>
{% endblock body %}
